/* Add your custom extension styling here */

.tpt-button-layout {}

.tpt-button {
  margin-left: 3px;
  margin-right: 3px;
}

.tpt-button:first-child {
  margin-left: 7px;
}

.tpt-button:last-child {
  margin-right: 7px;
}

.tpt-button .icon {
  margin-right: 3px;
}

.tpt-button .value {
  margin-right: 2px;
}

.tpt-button .unit {
  font-size: 80%;
}

.tpt-popup-title,
.tpt-popup-item {
  margin: 0px;
  color: inherit;
}

.tpt-popup-title {
  font-weight: bold;
}

.tpt-popup-item {}

.tpt-popup-item,
.tpt-popup-submenu,
.tpt-popup-submenu-item,
.tpt-popup-dropdown,
.tpt-popup-dropdown-item {
  padding-left: 16px;
}

.tpt-popup-item .value,
.tpt-popup-item .unit {
  color: inherit;
}

.tpt-popup-item .label {
  opacity: 0.5;
}